<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url "index" %}">Amigurumi Store</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category' 1 %}">Animales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category' 2 %}">Animales Fantasticos</a>
        </li>

        {% if user.is_authenticated %}
          <li class="nav-item">
            <form action="{% url 'logout' %}" method="post" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="nav-link" style="background: none; border: none; padding: 0; cursor: pointer;">
                Logout
              </button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>